	<div id="bottom">
		<div id="bottom-logo" class="icon-heart-empty">
		</div>
		<div id="bottom-menu-wrap">
			<div id="bottom-menu-main">
				<a href="">Anime</a>
				<a href="">Manga</a>
				{{#unless user}}
				<a href="/register">Register for Free</a>
				{{/unless}}
			</div>
			<div id="bottom-menu-sub">
				<a href="/whatisthis">What exactly is Anistack?</a>
				<a href="">Contact us</a>
			</div>
		</div>
	</div>
	<input type="hidden" id="csrf-kek" value="{{_csrf}}" />
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/components/app.js"></script>
</body>
</html>