#list-wrap {
	@extend .cf;
	margin: 90px auto 30px auto;
	width: 1160px;
	background: #fff;
	@include border-radius(4px);
}

#list-onboard {
	padding: 120px 0;
	text-align: center;
}
#onboard-welcome {
	@extend .opensans;
	padding-bottom: 60px;
	font-size: 32px;
	font-weight: bold;
}
#onboard-wrap {
	@extend .cf;
	margin: 0 auto;
	width: 741px;
}
#onboard-left {
	float: left;
	@include border-top-left-radius(4px);
	@include border-bottom-left-radius(4px);	
}
#onboard-right {
	float: right;
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);	
}
.onboard-option {
	padding: 60px;
	width: 250px;
}
#onboard-sep {
	float: left;
	width: 1px;
	height: 334px;
	background: $gray-l-3; 
}
.onboard-image {
	@extend .ts15;
	padding-bottom: 30px;
	font-size: 32px;
}
.onboard-title {
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}
.onboard-desc {
	line-height: 2em;
}
.onboard-tiny {
	display: none; // WORK: Should we display this?
	color: $gray-d-3;
	font-size: 8px;
}
.onboard-btn {
	cursor: pointer;
	display: block;
	margin-top: 30px;
	padding: 12px;
	font-weight: bold;
	@include border-radius(4px);
}
#onboard-btn-new {
	color: #fff;
	background: $blue;
	border: 2px solid $blue-d-3;
	@include box-shadow(inset 0 1px 0 $w05);
	&:hover {
		background: $blue-d-3;
	}
}
#onboard-btn-sync {
	border: 2px solid $black;
	&:hover {
		color: #fff;
		background: $black;
	}
}
#list-noresults {
	color: $gray-d-9;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 337px;
}
#list-error {
	margin: 0 auto;
	padding: 167px 0;
	width: 800px;
	text-align: center;
	background: url(/img/nooo.png) no-repeat;
	background-size: 30%;
	background-position: 0 340px;
}
#list-error-image {
	margin: 0 auto;
	padding-bottom: 30px;
	width: 350px;
	color: $red;
	font-size: 32px;
}
#list-error-title {
	margin: 0 auto;
	padding-bottom: 15px;
	width: 350px;
	font-size: 14px;
	font-weight: bold;
}
#list-error-desc {
	margin: 0 auto;
	width: 350px;
}
#list-left {
	float: left;
	width: 960px;
	@include box-shadow(1px 0 0 $gray-l-3);
}
#list-top {
	@extend .cf;
	border-bottom: 2px solid $gray-l-3;
}
#list-filter-wrap {
	width: 100%;
}
#list-filter-input {
	// WORK: Not sure why this isn't the same height as the element below
	border: 0;
	padding: 14px;
	width: 100%;
	height: 42px;
	font-size: 12px;
}

#list-tabs-wrap {
	@extend .cf;
}
.list-tab {
	@extend .ns;
	cursor: pointer;
	float: left;
	width: 16.667%;
	color: $bluegray;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
	background: $gray-l-3;
	@include box-shadow(inset 0 -2px 0 $bluegray-l-12);
	&:hover {
		@include box-shadow(inset 0 -2px 0 $bluegray-l-12);
	}
	&.current {
		@include box-shadow(inset 0 -2px 0 $bluegray);
	}
	&:first-child {
		@include border-top-left-radius(4px);
	}
}


#list-sort {
	@extend .cf;
	position: relative;
	border-bottom: 2px solid $gray-l-3;
}

.list-sort-hd {
	@extend .ns;
	cursor: pointer;
	float: left;
	padding: 15px;
	color: $gray-d-9;
	font-weight: bold;
	text-align: left;
	border-right: 1px
}
#list-sort-title {
	width: 665px;
}
#list-sort-progress {
	width: 73px;
	text-align: center;
}
#list-sort-rating {
	width: 51px;
	text-align: center;
}
#list-sort-type {
	width: 51px;
	text-align: center;
}

.list-itemstatus-wrap {
	@extend .cf;
	position: relative;
	height: 0;
	&.current {
		& .list-itemstatus-tag {
			background: $orange;
		}
		& .list-itemstatus-line {
			background: $orange;
		}
	}
}
.list-itemstatus-tag {
	float: left;
	margin-top: -10px;
	margin-left: -85px;
	padding: 5px;
	width: 65px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: $blue;
	@include border-radius(50px);
}
.list-itemstatus-line {
	float: left;
	margin-top: -2px;
	margin-left: -10px;
	width: 970px;
	height: 2px;
	background: $blue;
}

// Dropdowns
.list-progress-dd {

}

#list {
	float: left;
	width: 960px;
	min-height: 300px;
	background: #fff;
	@include border-top-left-radius(4px);
	@include border-bottom-left-radius(4px);
}
.list-item {
	@extend .cf;
	border-bottom: 1px solid $gray-l-3;

	&:hover {
		& .list-item-plusone:not(.hidden) {
			display: block;
		}
	}
}
.list-item-content {
	@extend .cf;
	font-weight: bold;
}
.list-item-left {
	float: left;
	padding: 15px;
}
.list-item-title {
	color: $black;
	text-decoration: none;
	@include box-shadow(0 0px 0 $blue);
	&:hover {
		color: $blue;
		@include box-shadow(0 1px 0 $blue);
	}
}
.list-item-right {
	float: right;
}
.list-item-plusone {
	cursor: pointer;
	display: none;
	float: left;
	margin: 12px 15px 0 0;
	height: 12px;
	color: $gray-d-3;
	font-size: 16px;
	&:hover {
		color: $blue;
	}
}
.list-item-progress {
	@extend .cf;
	@extend .ns;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 15px;
	text-align: center;
	border-left: 1px solid $gray-l-3;
}
.list-progress-current {
	float: left;
	width: 26px;
	text-align: center;
}
.list-progress-sep {
	float: left;
	width: 20px;
	color: $gray-d-3;
	text-align: center;
}
.list-progress-total {
	float: left;
	color: $gray-d-9;
	width: 26px;
	text-align: center;
}
.list-item-rating {
	@extend .cf;
	@extend .ns;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 15px;
	width: 50px;
	text-align: center;
	border-left: 1px solid $gray-l-3;
}
.list-rating-icon {
	float: left;
	height: 12px;
	color: $red;
}
.list-item-type {
	float: left;
	padding: 15px;
	width: 50px;
	text-align: center;
	border-left: 1px solid $gray-l-3;
}
.list-type-icon {
	display: block;
	color: $gray-d-9;
	text-align: center;
}


#list-right {
	float: right;
	width: 200px;
	height: 100%;
	background: #fff;
	@include box-shadow(inset 1px 0 0 $gray-l-3);
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
}
#list-profile {
	@extend .cf;
}
#list-profile-avatar {
	margin: -40px auto 0 auto;
	width: 80px;
	height: 80px;
	border: 4px solid #fff;
	background-color: $gray;
	background-size: cover;
	@include border-radius(4px);
}
#list-profile-background {
	height: 150px;
	//background: url(/img/profilebg.jpg) center center no-repeat;
	background: $black;
	background-size: cover;
	@include border-top-right-radius(4px);
}
#list-profile-name {
	@extend .opensans;
	padding-top: 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
#list-profile-bio {
	padding: 15px;
	color: $gray-d-9;
	font-size: 11px;
	text-align: left;
}
.list-nav-item {
	@extend .cf;
	@extend .opensans;
	cursor: pointer;
	display: block;
	padding: 15px 15px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 2px solid $gray;

	&.current {
		color: $blue;
		border-right: 2px solid $blue;
		& .list-nav-count {
			color: #fff;
			background: $blue;
		}
	}

	&:last-child {
		margin-bottom: 30px;
	}

	&:hover:not(.current) {
		opacity: 0.6;
	}
}
.list-nav-private-icon {
	font-size: 8px;
}
.list-nav-text {
	font-size: 11px;
}
.list-nav-count {
	display: block;
	float: right;
	padding: 4px;
	background: $gray-l-3;
	@include border-radius(2px);
}


