{{>header}}
<div id="middle">
	<div id="about-wrap">
		<div id="about-hd">
			<div id="about-hd-desc">Free platform for Anime &amp; Manga</div>
			<div id="about-hd-title">
				Stay up to date with Anime &amp; Manga
			</div>
			<div id="about-hd-actions">
				<a id="about-hd-register">
					Register Free
				</a>
				or keep scrolling
			</div>
		</div>
		<div id="about-slides-wrap">
			<div class="about-section">
				<div class="about-section-title">
					Discover and Track
				</div>
				<div class="about-section-desc">
					Ditch your anime.txt file (or any previous "list service") and upgrade.
				</div>
			</div>
			<div class="about-section">
				<div class="about-section-title">
					Notifications for New Episodes and Chapters
				</div>
				<div class="about-section-desc">
					Get notified the second an episode/chapter is released by a translation group.
				</div>
			</div>
			<div class="about-section">
				<div class="about-section-title">
					Weekly Hand-picked Recommendations
				</div>
				<div class="about-section-desc">
					Fuck robots recommendations. Receive hand-picked recomendations by real people.<br />
					<span class="about-section-disclaimer">(We also have personalized robot recomenndations if you can't wait)</span>
				</div>
			</div>
		</div>
	</div>
</div>
{{>footer}}