{{>header}}
<div id="middle">
	<div id="logreg-bg">
		<div id="logreg-bg-ovl">
			{{#if error}}
			<div id="logreg-error">
				{{error}}
			</div>
			{{/if}}
			{{#if message}}
			<div id="logreg-message">
				{{message}}
			</div>
			{{/if}}
			<div id="forgot-form-wrap">
			</div>
		</div>
	</div>
</div>
{{>footer}}