{{>header}}
<div id="middle">
	<div id="list-wrap">
		{{>list_right}}
		<div id="list-left"
			data-username="{{profile.username}}"
			data-editable="{{editable}}"
			data-list-type="{{listType}}"
		>
		<!-- Mount stuff here -->
		</div>
	</div>
</div>
{{>footer}}