<!DOCTYPE html>
<html lang="eng">
<head>
	<title>Herro.co - Track Anime &amp; Manga</title>
	<link href="/css/app.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="top">
	<div id="top-nav-wrap">
		<div id="top-nav">
			<a id="top-nav-logo" href="#"></a>
		</div>
	</div>
</div>
<div id="middle">
	<div id="list-wrap">
		<div id="list">
			<!--
			<div class="list-status-hd">
				Watching <span class="list-status-count">7</span>
			</div>-->
			<div class="list-item">
				<div class="list-item-content">
					<div class="list-item-left">
						<div class="list-item-title">
							Mikakunin De Shinkoukei
						</div>
					</div>
					<div class="list-item-right">
						<div class="list-item-plusone icon-plus">
						</div>
						<div class="list-item-progress">
							<span class="list-progress-current">6</span>
							<span class="list-progress-sep">/</span>
							<span class="list-progress-total">12</span>
						</div>
						<div class="list-item-rating">
							<span class="list-rating-icon icon-heart-full"></span>
							<span class="list-rating-number">&mdash;</span>
						</div>
						<div class="list-item-type">
							<span class="list-type-icon tv">Special</span>
						</div>
					</div>
				</div>
				<div class="list-item-expanded">
				</div>
			</div>
			<div class="list-item">
				<div class="list-item-content">
					<div class="list-item-left">
						<div class="list-item-title">
							Kill la Kill
						</div>
					</div>
					<div class="list-item-right">
						<div class="list-item-plusone icon-plus">
						</div>
						<div class="list-item-progress">
							<span class="list-progress-current">23</span>
							<span class="list-progress-sep">/</span>
							<span class="list-progress-total">24</span>
						</div>
						<div class="list-item-rating">
							<span class="list-rating-icon icon-heart-full"></span>
							<span class="list-rating-number">3.5</span>
						</div>
						<div class="list-item-type">
							<span class="list-type-icon tv">TV</span>
						</div>
					</div>
				</div>
				<div class="list-item-expanded">
				</div>
			</div>
		</div>
		<div id="list-right">
			<div id="list-profile">
				<div id="list-profile-background">
				</div>
				<div id="list-profile-avatar">
				</div>
				<div id="list-profile-name">
					Mochi Umai
				</div>
				<div id="list-profile-bio">
					<p>
						Everything from code to pancakes. Solving the mysteries of design.
					</p>
				</div>
			</div>
			<div class="list-nav">
				<a class="list-nav-item current">
					<span class="list-nav-text">
						Anime List
					</span>
					<span class="list-nav-count">
						257
					</span>
				</a>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Manga List
					</span>
					<span class="list-nav-count">
						158
					</span>
				</a>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Stats
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="bottom">
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
