{{>header}}
<div id="middle">
	<div id="settings-wrap">
		<div id="settings-content">
			<div id="settings-top">
				<div id="settings-hd">
					Settings
				</div>
				<div id="settings-tagline">
					Don't forget to save
				</div>
			</div>
			<div id="settings">
			</div>
		</div>
	</div>
</div>
{{>footer}}