{{>header}}
<div id="middle">
	<div id="list-wrap">
		<div id="stacks-grid-wrap">
			<div id="stacks-actions">
				 
			</div>
			<ul id="stacks-grid">
				
			</ul>
		</div>
		{{>list_right}}
	</div>
</div>
{{>footer}}