#search-page-wrap {
	padding-top: 20px;
}
#search-input-wrap {
	@extend .border-box;
	margin-bottom: 20px;
	padding: 0 20px 20px;
	width: 100%;
	border-bottom: 1px dotted $gray-l-3;
}
#search-input {
	width: 100%;
	font-size: 18px;
}
.search-result {
	width: 100%;
}
.search-result-image {
	display: none;
}
.search-result-content {
	float: none;
	width: auto;
}
.search-result-picker.first {
	top: 50px;
	right: 0;
	@include transform-origin(190px top);
}