#list-wrap {
	@extend .border-box;
	margin-right: 20px;
	width: calc(100% - 130px);
}
#list-left {
	width: 75%;
}
#list-tabs-wrap {
	width: 100%;
}
.list-tab {
	width: 16.667%;
	&:first-child {
		@include border-top-left-radius(0);
	}
}
#list-filter-input {
	width: 100%;
}
#list-sort-title {
	width: calc(100% - 266px);
}
.list-itemstatus-line {
	width: calc(100% + 15px);
}
#list-content {
	@include box-shadow(none);
}
.list-item-title {
	max-width: 38%;
}
#list-right {
	width: 25%;
}