#search-page-wrap {
	padding-top: 20px;
}
#search-page {
	padding: 0 20px;
	width: auto;
}
#search-input-wrap {
	@extend .border-box;
	padding: 0 20px 20px;
	width: 100%;
	border-bottom: 1px dotted $gray-l-3;
}
#seach-input-protip {
	font-size: 11px;
}
#search-input {
	width: 100%;
	font-size: 18px;
}
.search-result {
	width: 100%;
	&:first-child {
		padding-top: 20px;
	}
}
.search-result-content {
	float: none;
	width: auto;
}
.search-result-picker.first {
	top: 50px;
	right: 0;
	@include transform-origin(190px top);
}