html {
	overflow-y: scroll;
	color: $black;
	height: 100%;
	font-size: 13px;
	font-family: sans-serif;
	background: $bluegray-l-12;
	vertical-align: middle;
}
body {
	@extend .opensans;
	-webkit-font-smoothing: antialiased;
}
p a, p a:visited {
	color: $blue;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
p a, p a:visited {
	color: $blue;
	text-decoration: none;
	&:hover {
		@include box-shadow(0 1px 0 $blue);
	}
}
p {
	// Becuase fuck normal styles
	margin: 0;
	line-height: 2em;
}
i, em {
	font-style: italic;
}
b, strong {
	font-style: bold;
}
input {
	padding: 0;
}