#bottom {
	display: none;
	@extend .cf;
	margin: 0 auto;
	padding-bottom: 30px;
	width: 1160px;
}
#bottom-logo {
	@extend .ts15;
	cursor: pointer;
	float: left;
	margin-right: 30px;
	color: $bluegray;
	font-size: 32px;
	&:hover {
		color: $red;
	}
}
#bottom-menu-main {
	padding-bottom: 15px;
	a {
		padding-right: 10px;
		color: $bluegray;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
}
#bottom-menu-sub {
	a {
		padding-right: 10px;
		color: $bluegray-l-3;
		font-size: 11px;
		text-decoration: none;
	}
}