#episode-wrap {
	background: $black;
}
.episode-video {
	margin: 0 auto;
}
#episode-info-wrap {
	background: #fff;
}
#episode-info {
	margin: 0 auto;
	width: 1280px;
}
#episode-title {
	padding: 10px 0;
	font-size: 23px;
}