#list-wrap {
	@extend .cf;
	margin: 80px auto 20px auto;
	width: 1000px;
	background: #fff;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b15);
}
#list-right {
	float: right;
	width: 220px;
	height: 100%;
	background: #fff;
	@include box-shadow(inset 1px 0 0 $gray-l-3);
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
}
#list-profile {
	@extend .cf;
}
#list-profile-avatar {
	margin: -40px auto 0 auto;
	width: 80px;
	height: 80px;
	border: 4px solid #fff;
	background-color: $gray;
	background-size: cover;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b15);
}
#list-profile-background {
	height: 150px;
	background: $brand-black;
	/*background: url(/img/profilebg.jpg) center center no-repeat;*/
	background-size: cover;
	@include border-top-right-radius(4px);
}
#list-profile-name {
	padding: 20px 0 10px 0;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
}
#list-profile-bio {
	padding: 10px 20px;
	color: $gray-d-9;
	text-align: left;
}
.list-nav-item {
	@extend .cf;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	font-size: 11px;
	text-transform: uppercase;
	&.current {
		color: $blue;
		& .list-nav-count {
			color: #fff;
			background: $blue;
		}
	}
	&:last-child {
		margin-bottom: 20px;
	}

	&:hover:not(.current) {
		color: $blue;
	}
}
.list-nav-sep {
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid $gray-l-3;
}
.list-nav-icon {
	font-size: 8px;
}
.list-nav-text {
	font-weight: 800;
	line-height: 23px;
}
.list-nav-private {
	float: right;
	color: $yellow-d-6;
	padding: 3px 5px;
	font-weight: 700;
	text-align: center;
	background: $yellow-l-6;
	@include border-radius(4px);
}

#list-left {
	float: left;
	width: 780px;
}