#list-wrap {
	@extend .cf;
	margin: 30px auto;
	width: 1160px;
	background: #fff;
	@include border-radius(4px);
}

#list-left {
	float: left;
	width: 960px;
	@include box-shadow(1px 0 0 $gray-l-3);
}
#list-top {
	@extend .cf;
	border-bottom: 2px solid $gray-l-3;
}
#list-filter-wrap {
	float: left;
	width: 600px;
}
#list-filter-input {
	border: 0;
	padding: 15px;
	width: 600px;
	font-size: 14px;
}
#list-sort {
	@extend .cf;
	border-bottom: 2px solid $gray-l-3;
}
.list-sort-hd {
	@extend .ns;
	cursor: pointer;
	float: left;
	padding: 15px;
	color: $gray-d-9;
	font-weight: bold;
	text-align: left;
	border-right: 1px
}
#list-sort-title {
	width: 665px;
}
#list-sort-progress {
	width: 73px;
	text-align: center;
}
#list-sort-rating {
	width: 51px;
	text-align: center;
}
#list-sort-type {
	width: 51px;
	text-align: center;
}

.list-itemstatus-wrap {
	@extend .cf;
	position: relative;
	height: 0;
	&.current {
		& .list-itemstatus-tag {
			background: $orange;
		}
		& .list-itemstatus-line {
			background: $orange;
		}
	}
}
.list-itemstatus-tag {
	float: left;
	margin-top: -10px;
	margin-left: -85px;
	padding: 5px;
	width: 65px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	background: $blue;
	@include border-radius(50px);
	@include box-shadow(inset 0 1px 0 $w10);
}
.list-itemstatus-line {
	float: left;
	margin-top: -2px;
	margin-left: -10px;
	width: 970px;
	height: 2px;
	background: $blue;
}

// Dropdowns
.list-progress-dd {

}

#list {
	float: left;
	width: 960px;
	min-height: 300px;
	background: #fff;
	@include border-top-left-radius(4px);
	@include border-bottom-left-radius(4px);
}
.list-item {
	border-bottom: 1px solid $gray-l-3;

	&:hover {
		& .list-item-plusone:not(.hidden) {
			display: block;
		}
	}
}
.list-item-content {
	@extend .cf;
	font-weight: bold;
}
.list-item-left {
	float: left;
	padding: 15px;
}
.list-item-title {
}
.list-item-right {
	float: right;
}
.list-item-plusone {
	cursor: pointer;
	display: none;
	float: left;
	margin: 12px 15px 0 0;
	height: 12px;
	color: $gray-d-3;
	font-size: 16px;

	&:hover {
		color: $brand-blue;
	}
}
.list-item-progress {
	@extend .cf;
	@extend .ns;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 15px;
	text-align: center;
	border-left: 1px dotted $gray-l-3;
}
.list-progress-current {
	float: left;
	width: 26px;
	text-align: center;
}
.list-progress-sep {
	float: left;
	width: 20px;
	color: $gray-d-3;
	text-align: center;
}
.list-progress-total {
	float: left;
	color: $gray-d-9;
	width: 26px;
	text-align: center;
}
.list-item-rating {
	@extend .cf;
	@extend .ns;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 15px;
	width: 50px;
	text-align: center;
	border-left: 1px dotted $gray-l-3;
}
.list-rating-icon {
	float: left;
	height: 12px;
	color: $red;
}
.list-item-type {
	float: left;
	padding: 15px;
	width: 50px;
	text-align: center;
	border-left: 1px dotted $gray-l-3;
}
.list-type-icon {
	display: block;
	color: $gray-d-9;
	text-align: center;
}


#list-right {
	float: right;
	width: 200px;
	min-height: 300px;
	height: 100%;
	background: #fff;
	@include box-shadow(inset 1px 0 0 $gray-l-3);
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
}
#list-profile {
	@extend .cf;
}
#list-profile-avatar {
	margin: -40px auto 0 auto;
	width: 80px;
	height: 80px;
	border: 4px solid #fff;
	background: url(/img/riven.png) center center no-repeat;
	background-size: cover;
	@include border-radius(4px);
}
#list-profile-background {
	height: 100px;
	background: url(/img/profilebg.jpg) center center no-repeat;
	background-size: cover;
	@include border-top-right-radius(4px);
}
#list-profile-name {
	@extend .opensans;
	padding-top: 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
#list-profile-bio {
	padding: 15px;
	color: $gray-d-9;
	line-height: 1.5em;
	text-align: center;
}
.list-nav-item {
	@extend .cf;
	@extend .opensans;
	cursor: pointer;
	display: block;
	padding: 15px 15px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 2px solid #fff;

	&.current {
		color: $blue;
		border-right: 2px solid $blue;
		& .list-nav-count {
			color: #fff;
			background: $blue;
		}
	}

	&:last-child {
		margin-bottom: 30px;
	}

	&:hover:not(.current) {
		opacity: 0.6;
	}
}
.list-nav-text {
	line-height: 19px;
}
.list-nav-count {
	float: right;
	padding: 4px;
	background: $gray-l-3;
	@include border-radius(02px);
}

// Boo

.boo-container {
	position: absolute;
	z-index: 998;
	bottom: -25px;
	padding: 2px;
	background: $b60;
	@include border-radius(4px);
	&:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: $b60;
		border-width: 4px;
		margin-left: -4px;
	}

}
.boo-content {
	padding: 5px;
	background: #fff;
	@include border-radius(3px);
}


