#list-wrap {
	@extend .cf;
	margin: 20px auto 0 auto;
	width: 1000px;
	background: #fff;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b15);
}
#list-right {
	float: right;
	width: 220px;
	height: 100%;
	background: #fff;
	@include box-shadow(inset 1px 0 0 $gray-l-3);
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
}
#list-profile {
	@extend .cf;
}
#list-profile-avatar {
	margin: -50px auto 0 auto;
	display: block;
	width: 100px;
	height: 100px;
	border: 4px solid #fff;
	background-color: $gray-l-3;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b15);
	background-size: cover;
}
#list-profile-background {
	height: 150px;
	background: $brand-black;
	/*background: url(/img/profilebg.jpg) center center no-repeat;*/
	background-size: cover;
	@include border-top-right-radius(4px);
}
#list-profile-name {
	padding: 20px 0 10px 0;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
}
#list-profile-bio {
	padding: 10px 20px;
	color: $gray-d-9;
	font-size: 12px;
	text-align: left;
	white-space: pre-wrap;
}
.list-nav-item {
	@extend .cf;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	color: $black;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	&.current {
		color: $blue;
		& .list-nav-count {
			color: #fff;
			background: $blue;
		}
	}
	&:last-child {
		margin-bottom: 20px;
	}

	&:hover:not(.current) {
		color: $blue;
	}
}
.list-nav-sep {
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid $gray-l-3;
}
.list-nav-icon {
	font-size: 8px;
}
.list-nav-text {
	font-weight: 800;
	line-height: 23px;
}
.list-nav-private {
	float: right;
	color: $yellow-d-6;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	background: $yellow-l-6;
	@include border-radius(4px);
}
.list-nav-tag {
	float: right;
	padding: 3px 5px;
	color: $w90;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	background: $blue;
	@include border-radius(4px);
}

#list-tabs-wrap {
	@extend .cf;
	width: 780px;
}
.list-tab {
	cursor: pointer;
	float: left;
	padding: 10px 0;
	width: 16.6667%;
	color: $gray-d-9;
	font-weight: 700;
	background: $gray-l-3;
	text-align: center;
	@include box-shadow(inset 0 -3px 3px -3px $b05);
	&:hover:not(.current){
		color: $blue;
		background: $gray-hover;
		@include box-shadow(inset 0 -1px 3px -3px rgba(0,0,0,0.01));
	}
	&:first-child {
		@include border-top-left-radius(4px);
	}
	&.current {
		color: $blue;
		background: #fff;
		@include box-shadow(none);
	}
}
#list-filter-wrap {
	border-bottom: 1px solid $gray-l-3;
}
#list-filter-input {
	padding: 12px 15px;
	width: 780px;
}
#list-sort-wrap {
	@extend .cf;
	border-bottom: 1px solid $gray-l-3;
}
#list-sort-title {
	padding-left: 15px;
	width: 515px;
	border-right: 1px dotted $gray-l-3;
}
#list-sort-progress {
	width: 95px;
	text-align: center;
	border-right: 1px dotted $gray-l-3;
}
#list-sort-rating {
	width: 83px;
	text-align: center;
	border-right: 1px dotted $gray-l-3;
}
#list-sort-type {
	width: 69px;
	text-align: center;
}
.list-sort-hd {
	@extend .ns;
	cursor: pointer;
	float: left;
	padding: 12px 0;
	font-weight: 700;
}
#list-content {
	@include box-shadow(1px 0 0 $gray-l-3);
}
.list-itemstatus-wrap {
	@extend .cf;
	position: relative;
	height: 0;
	&.current {
		& .list-itemstatus-tag {
			background: $orange;
		}
		& .list-itemstatus-line {
			background: $orange;
		}
	}
}
.list-itemstatus-tag {
	float: left;
	margin-top: -10px;
	margin-left: -95px;
	padding: 5px;
	width: 70px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	background: $blue;
	@include border-radius(50px);
}
.list-itemstatus-line {
	float: left;
	margin-top: -2px;
	margin-left: -15px;
	width: 795px;
	height: 2px;
	background: $blue;
}
.list-item-wrap {
	overflow: hidden;
	will-change: height, background-color;
}
.list-item {
	@extend .cf;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid $gray-l-3;
	&.expanded {
		//border-bottom: 1px solid transparent;
	}
}
.list-item-image-preview {
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 16px;
	margin-left: 15px;
	background-position: center center;
	background-size: cover;
	@include border-radius(2px);
}
.list-item-title-wrap {
	float: left;
	margin: 12px 0 0 12px;
	overflow: hidden;
	max-width: 450px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list-item-title, .list-item-title:visited {

}
.list-item-right {
	float: right;
	width: 250px;
}
.list-item-progress {
	@extend .cf;
	float: left;
	padding: 0 15px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	border-left: 1px solid $gray-l-3;
	border-right: 1px solid $gray-l-3;
}
.list-item-progress-sofar {
	float: left;
	width: 20px;
}
.list-item-progress-sep {
	float: left;
	padding: 0 10px;
	color: $gray-d-9;
}
.list-item-progress-total {
	float: left;
	width: 20px;
	color: $gray-d-9;
}
.list-item-rating {
	@extend .cf;
	float: left;
	padding: 0 15px;
	border-right: 1px solid $gray-l-3;
}
.list-item-rating-icon {
	float: left;
	color: $red;
	padding-top: 14px;
}
.list-item-rating-number {
	float: left;
	width: 30px;
	padding-left: 10px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
}
.list-item-type {
	float: left;
	color: $gray-d-9;
	width: 68px;
	font-size: 11px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
}
.list-item-expanded {
	overflow: hidden;
	height: 0;
	background: $gray-l-3;
	will-change: height;
	/*
	background-size: cover;
	background-position: center center; */
}
.list-exp-image {
	float: left;
	width: 170px;
	height: 250px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b10);
}
.list-exp-ovl {
	@extend .cf;
	padding: 10px;
	/*@include box-shadow(inset 0 1px 6px $b10);*/
	/* @include linear-gradient-rev(rgba(99, 114, 124, 0.4), rgba(99, 114, 124, 0.8)); */
}
.list-exp-picker {
	float: right;
	@include border-radius(4px);
	@include box-shadow(0 1px 3px $b10);
}

#list-noresults {
	display: none;
	color: $gray;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 405px;
}
#list-private {
	@extend .cf;
	margin: 0 auto;
	padding-top: 270px;
	width: 200px;
	color: $yellow;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#list-private-icon {
	float: left;
	color: $yellow;
	font-size: 23px;
	border-radius: 30px;
}

// List left

#list-left {
	float: left;
	width: 780px;
}