.pbtn-remove {
	visibility: hidden;
	display: none;
	float: left;
	margin-right: 15px;
	margin-top: 6px;
	padding-right: 1px;
	cursor: pointer;
	font-size: 11px;
	&:hover {
		color: $red;
		@include box-shadow(0 1px 0 $red);
	}
	&.visible {
		visibility: visible;
		display: block;
	}
}
.pbtn-add {
	@extend .ns;
	@extend .ts15;
	float: left;
	cursor: pointer;
	padding: 3px 13px;
	font-weight: bold;
	@include border-radius(30px);
	&:hover {
		/*
		color: #fff;
		background: $blue;
		border: 2px solid $blue;
		text-shadow: none;
		@include box-shadow(none); */
	}
	&.open {
		/*
		color: #fff;
		background: $blue;
		border: 2px solid $blue;
		text-shadow: none;
		@include box-shadow(none);
		*/
	}
}
.pbtn-picker {
	@extend .tsout;
	position: absolute;
	visibility: hidden;
	top: 40px;
	right: 0;
	z-index: $z-up;
	opacity: 0;
	background: #fff;
	@include transform(scale(0.9));
	@include transform-origin(190px top);
	@include box-shadow(0 1px 6px $b30);
	@include border-radius(4px);
	&.visible {
		@extend .tsin;
		visibility: visible;
		opacity: 1;
		@include transform(scale(1));
	}
}