.picker-wrap {
	padding: 10px;
	width: 250px;
	height: auto;
	background: #fff;
	@include box-shadow(0 1px 3px $b30);
	@include border-radius(4px);
}
.picker-status-wrap {
	height: 40px;
}
.picker-status-val {
	@extend .cf;
	@extend .ns;
	cursor: pointer;
	padding: 10px;
	color: $black;
	font-weight: 700;
	background: $gray-l-3;
	@include border-radius(4px);

	&.visible {
		color: $w70;
		background: $brand-black;
	}
}
.picker-status-legend {
	float: right;
	padding-right: 10px;
	font-size: 10px;
	line-height: 18px;
	text-transform: uppercase;
}
.picker-status-dd-icon {
	float: right;
	padding-top: 2px;
}
.picker-status-dd {
	display: none;
	position: relative;
	padding-top: 10px;
	margin-top: -10px;
	background: $brand-black;
	z-index: $z-up;
	@include border-bottom-left-radius(4px);
	@include border-bottom-right-radius(4px);

	&.visible {
		display: block;
	}
}
.picker-status-dd-item {
	cursor: pointer;
	padding: 10px;
	color: $w70;
	&:first-child {
		border-top: 1px dotted $w10;
	}
	&:hover {
		color: #fff;
		background: $w05;
	}
	&:last-child {
		@include border-bottom-left-radius(4px);
		@include border-bottom-right-radius(4px);
	}
}