#thepicker {
	padding-left: 800px;
}
.picker-wrap {
	@extend .opensans;
	overflow: hidden;
	width: 300px;
	height: auto;
	background: #fff;
	border: 4px solid $b60;
	@include border-radius(4px);
}
.picker-content {
	@extend .cf;
	@extend .ts30;
	overflow: hidden;
	width: 900px;
	text-align: center;

	&.step-1 {
		height: 214px;
	}
	&.step-2 {
		margin-left: -300px;
		height: 126px;
	}
	&.step-3 {
		margin-left: -600px;
		height: 107px;
	}
}
.picker-step {
	float: left;
	width: 300px;
}

.picker-title {
	padding: 15px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	border-bottom: 1px solid $gray-l-3;
}

// Status

.picker-status {
	width: 300px;
}
.picker-status-item {
	cursor: pointer;
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
	border-bottom: 1px solid $gray-l-3;
	&:last-child {
		border-bottom: 0;
	}
	&:hover {
		background: $gray-hover;
	}
}

// Progress

.picker-progress {
	@extend .cf;
	display: inline-block;
	padding: 15px;
}
.picker-progress-input {
	float: left;
	padding: 6px 0;
	width: 50px;
	color: $black;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	@include box-shadow(inset 0 -2px 0 $gray-l-3);
	&:hover {
		@include box-shadow(inset 0 -2px 0 $gray);
	}
	&:focus {
		@include box-shadow(inset 0 -2px 0 $blue);
	}
}
.picker-progress-sep {
	float: left;
	padding: 0 5px;
	color: $gray;
	font-size: 14px;
	font-weight: bold;
	line-height: 33px;
}
.picker-progress-total {
	float: left;
	width: 50px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 33px;
}

// Rating

.picker-rating {
	@extend .cf;
	padding: 15px 0;
	display: inline-block;
}
.picker-rating-number {
	float: left;
	margin-top: 15px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
	border-left: 1px solid $gray-l-3;
}
.picker-heart {
	cursor: pointer;
	float: left;
	padding: 15px 15px 15px 0;
	color: $red;
	font-size: 23px;
	line-height: 20px;
	&:first-child {
		padding-left: 20px;
	}
}

.picker-bottom {
	@extend .cf;
	@extend .ts30;
	overflow: hidden;
	padding: 0 15px;
	height: 0;
	background: $gray-l-3;
	&.show {
		padding: 10px 15px;
		height: 28px;
	}
}
.picker-bullet-wrap {
	@extend .cf;
	float: left;
	padding-top: 8px;
}
.picker-bullet {
	cursor: pointer;
	margin-right: 10px;
	float: left;
	width: 10px;
	height: 10px;
	background: $b30;
	@include border-radius(10px);
	&.active {
		background: $b80;
	}
}
.picker-skip {
	cursor: pointer;
	float: right;
	padding: 6px 15px;
	font-weight: 800;
	text-align: center;
	border: 2px solid $black;
	text-transform: uppercase;
	@include border-radius(50px);
}

// Singles design

.picker-rating-single {
	@extend .cf;
	@extend .tsout;
	z-index: $z-up;
	position: absolute;
	top: -7px;
	left: -88px;
	width: 263px;
	background: #fff;
	//opacity: 0;
	@include transform(scale(0));
	@include border-radius(4px);
	@include box-shadow(0 0 6px $b30);
	&.visible {
		@extend .tsin;
		//opacity: 1;
		@include transform(scale(1));
	}
}
.picker-progress-single {
	@extend .cf;
	@extend .tsout;
	z-index: $z-up;
	position: absolute;
	top: -7px;
	left: -22px;
	padding: 10px;
	width: 125px;
	background: #fff;
	//opacity: 0;
	@include transform(scale(0));
	@include border-radius(4px);
	@include box-shadow(0 0 6px $b30);

	&.visible {
		@extend .tsin;
		@include transform(scale(1));
	}
}

.picker-done {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	right: 53px;
	bottom: 0;
	text-align: center;
	background: $w60;
	@include border-radius(4px);
	&.visible {
		@extend .tsin;
		visibility: visible;
		opacity: 1;
	}
}