@media(max-width: 1060px){
	#top-nav-wrap {
		width: 100%;
	}
	#top-nav-logo {
		margin-left: 20px;
	}
	#search-page {
		padding: 0 20px;
		width: auto;
	}
	#bottom {
		width: 100%;
	}
	#bottom-logo {
		padding-left: 20px;
	}
}

@media(max-width: 480px){
	#top-nav-tagline {
		display: none;
	}
	.logreg-form {
		position: static;
		top: auto;
		left: auto;
		margin: 0 auto!important;
		width: 280px;
	}
}