#search-page-wrap {
	padding-top: 40px;
	width: 100%;
	background: #fff;
}
#search-page-query {
	display: none;
}
#search-page {
	margin: 0 auto;
	width: 1000px;
}
#search-input-wrap {
	@extend .cf;
	margin: 0 auto;
	width: 1000px;
	padding-bottom: 40px;
}
#search-input {
	float: left;
	width: 600px;
	font-size: 32px;
}
#search-results-wrap {
	
}
.search-result {
	@extend .cf;
	padding: 20px 0;
	width: 600px;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 40px;
	}
}
.search-result-image {
	float: left;
	margin-right: 20px;
	width: 80px;
	height: 130px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
}
.search-result-content {
	@extend .cf;
	float: left;
	width: 500px;
}
.search-result-title-wrap {
	@extend .cf;
	margin-top: -5px;
	padding-bottom: 10px;
}
.search-result-title {
	float: left;
	font-size: 18px;
	font-weight: 700;
}
.search-result-year {
	float: left;
	padding-left: 10px;
	color: $gray-d-9;
	font-size: 12px;
	line-height: 25px;
}
.search-result-desc {
	line-height: 2em;
}
.search-result-meta-wrap {
	@extend .cf;
	position: relative;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $gray-l-3;
}
.search-result-meta {
	color: $gray-d-9;
	font-size: 11px;
	line-height: 28px;
}
.search-result-type {
	font-weight: 700;
	text-transform: uppercase;
}
.search-result-add {
	@extend .ts15;
	@extend .ns;
	display: none;
	cursor: pointer;
	float: right;
	padding: 3px 10px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	background: $blue;
	border: 2px solid $blue;
	@include border-radius(15px);
	&.visible {
		display: block;
	}
	&.added {
		border: 2px solid $gray-d-9;
		background: $gray-d-9;
		&.open {
			color: $blue;
			border: 2px solid $blue;
			background: #fff;
		}
		&:hover:not(.open) {
			border: 2px solid $blue; 
			background: $blue;
		}
	}
	&.open {
		color: $blue;
		background: #fff;
	}
}
.search-result-remove {
	float: right;
	padding-top: 6px;
	cursor: pointer;
	display: none;
	margin-right: 15px;
	padding-right: 1px;
	color: $gray-d-9;
	font-size: 11px;
	&.visible {
		display: block;
	}
	&:hover {
		color: $red;
		@include box-shadow(0 1px 0 $red);
	}
}
.search-result-picker {
	@extend .tsout;
	position: absolute;
	visibility: hidden;
	top: -267px;
	right: 0;
	z-index: $z-up;
	opacity: 0;
	background: #fff;
	@include transform(scale(0.4));
	@include transform-origin(190px bottom);
	@include box-shadow(0 1px 6px $b30);
	@include border-radius(4px);
	&.first {
		top: -113px;
		right: -256px;
		@include transform-origin(center left);
	}
	&.visible {
		@extend .tsin;
		visibility: visible;
		opacity: 1;
		@include transform(scale(1));
	}
}