#search-page {
	margin-bottom: 30px;
	background: #fff;
}
.search-input-wrap {
	border-bottom: 2px solid $gray-l-3;
}
.search-input {
	margin: 0 auto;
	padding: 15px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
}
.search-results-wrap {

}
.search-item-wrap {
	padding: 15px;
	border-bottom: 1px solid $gray-l-3;
	&:last-child {
		border-bottom: 0;
	}
}
.search-item {
	@extend .cf;
	position: relative;
}
.search-item-left {
	float: left;
}
.search-item-right {
	float: right;
}
.search-item-title {
	font-weight: bold;
}
.search-item-meta {
	padding-top: 5px;
	color: $gray-d-9;
	font-size: 11px;
}
.search-item-type {
	font-weight: bold;
}
.search-item-add {
	@extend .ts15;
	@extend .ns;
	cursor: pointer;
	margin-top: 2px;
	padding: 4px;
	width: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: $blue;
	border: 2px solid $blue;
	@include border-radius(20px);
	&.open {
		color: $blue;
		background: #fff;
	}
	&.added {
		cursor: default;
		background: $green;
		border: 2px solid $green;
	}
}