#search-page-wrap {
	padding-top: 82px;
	width: 100%;
	background: #fff;
}
#search-page-query {
	display: none;
}
#search-page {
	margin: 0 auto;
	width: 1000px;
}
#search-input-wrap {
	@extend .cf;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid $gray-l-3;
}
#search-input {
	float: left;
	width: 600px;
	font-size: 23px;
	font-weight: 700;
}
#search-results-wrap {
	
}
.search-result {
	@extend .cf;
	padding: 20px 0;
	width: 600px;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 40px;
	}
}
.search-result-image {
	float: left;
	margin-right: 20px;
	width: 80px;
	height: 130px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
}
.search-result-content {
	@extend .cf;
	float: left;
	width: 500px;
}
.search-result-title-wrap {
	@extend .cf;
	padding-bottom: 10px;
}
.search-result-title {
	float: left;
	font-size: 14px;
	font-weight: 700;
}
.search-result-year {
	float: left;
	padding-left: 10px;
	color: $gray-d-9;
	font-size: 12px;
	line-height: 19px;
}
.search-result-desc {
	line-height: 2em;
}
.search-result-meta-wrap {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted $gray-l-3;
}
.search-result-meta {
	color: $gray-d-9;
	font-size: 11px;
}
.search-result-type {
	font-weight: 700;
	text-transform: uppercase;
}