// Series cover
#series-cover-wrap {
	overflow: hidden;
	position: relative;
	background-color: #333;
}
#series-cover-bg {
	position: relative;
	overflow: hidden;
	opacity: 0;
	width: 50%;
	background-position: center 10%;
	background-size: cover;
}
#series-cover-bg-ovl {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include linear-gradient-rev(transparent, $b70);
}
#series-cover-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#series-cover-hd-wrap {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 100%;
}
#series-cover-hd {
	position: absolute;
	width: 100%;
	top: 50%;
}
#series-cover-meta {
	color: #fff;
	font-weight: 800;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#series-cover-title {
	@extend .playfair;
	width: 80%;
	color: #fff;
	font-size: 59px;
	letter-spacing: 0.01em;
}
#series-cover-alt-titles {
	width: 100%;
	padding-top: 8px;
	color: $w80;
}

// Right part of series page, with cover
#series-cover-info-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	background: #fff;
}
#series-cover-info {
	padding: 40px;
}

// Picker
.series-pbtn-wrap {
	@extend .cf;
	position: absolute;
	z-index: 2;
	top: 20px;
	right: 20px;
	& .pbtn-remove {
		color: #fff;
	}
	& .pbtn-add {
		color: #fff;
		border: 2px solid #fff;
		text-shadow: 0 0 3px $b10;
	}
}

// Series info
#series-info-wrap {
	@extend .cf;
}
#series-info-left {
	@extend .border-box;
	float: left;
	padding-right: 40px;
	width: 70%;
}
#series-info-image {
	float: left;
	margin-right: 40px;
	width: 160px;
	height: 240px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
}
#series-info-desc-wrap {
	float: right;
	width: calc(100% - 200px);
}
#series-info-desc {
	white-space: pre-wrap;
	line-height: 2em;
}
#series-info-nodesc {
	padding: 80px 40px;
	color: $text-3;
	text-align: center;
	border: 1px solid $gray-l-3;
	@include border-radius(4px);
}
#series-info-actions {
	@extend .cf;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $gray-l-3;
}
.info-pbtn-wrap {
	@extend .cf;
	position: relative;
	float: right;
	& .pbtn-remove {
		color: $text;
		&:hover {
			color: $red;
		}
	}
	& .pbtn-add {
		color: $text;
		border: 2px solid $text;
		&:hover {
			color: #fff;
			border: 2px solid $blue;
		}
	}
	& .pbtn-picker {
		top: -267px;
		right: 0;
		@include transform-origin(190px bottom);
	}
}

#series-info-right {
	float: right;
	width: 30%;
}
.series-info-section {
	padding-bottom: 20px;
}
.series-info-title {
	padding-bottom: 10px;
	font-weight: 800;
	text-transform: uppercase;
}
.series-info-value {
	line-height: 2em;
}
.series-info-genre {
	color: $blue;
	font-weight: 700;
	text-decoration: none;
	&:hover {
		@include box-shadow(0 1px 0 $blue);
	}
}
.series-info-dateinterval {
	padding: 2px 10px;
	color: $blue;
	border: 1px solid $blue;
	text-decoration: none;
	@include border-radius(20px);
	&:hover {
		color: #fff;
		background: $blue;
	}
}

// Rating graph
#series-rating-graph-top {
	@extend .cf;
}
#series-rating-graph-left {
	@extend .cf;
	float: left;
	position: relative;
	overflow: hidden;
	width: 70%;
	height: 60px;
}
#series-rating-graph-right {
	float: right;
	width: 30%;
}
#series-rating-graph-average {
	margin-left: 20px;
	padding: 6px 0;
	height: 48px;
	color: $text;
	font-size: 23px;
	font-weight: 800;
	text-align: center;
	border-left: 1px solid $gray-l-3;
}
#series-rating-graph-average-value {
	opacity: 0;
}
#series-rating-graph-axis {
	@extend .cf;
	width: 70%;
}
.series-rating-graph-axis-label {
	float: left;
	padding-top: 5px;
	width: 10%;
	color: $text-3;
	font-size: 10px;
	text-align: center;
}
#series-rating-graph-desc {
	opacity: 0;
	color: $text-2;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
@for $i from 1 to 11 {
	.series-rating-bar:nth-child(#{$i}) {
		opacity: 0;
		position: absolute;
		left: 10% * ($i - 1);
		bottom: 0;
		width: 10%;
		min-height: 5px;
		background: $gray;
		@include box-shadow(inset -1px 0 0 #fff);
	}
}

// Series ncov
#series-ncov-wrap {
	background: #fff;
}
#series-ncov-content {
	margin: 0 auto;
	width: 1000px;
}
#series-ncov-hd {
	padding: 40px 0;
}
#series-ncov-title {
	@extend .playfair;
	color: #000;
	font-size: 23px;
}
#series-ncov-meta {
	color: $text-3;
	font-weight: 800;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#series-ncov-alt-titles {
	padding-top: 5px;
	color: $text-3;
}