// Series cover
#series-cover-content-wrap {
	background: #fff;
}
#series-cover-content {
	margin: 0 auto;
	width: 1000px;
}
#series-cover-bg-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $black;
}
#series-cover-bg {
	opacity: 0;
	width: 100%;
	height: 100%;
	background-position: center 30%;
	background-size: cover;
}
#series-cover-bg-ovl {
	width: 100%;
	height: 100%;
	@include linear-gradient-rev(transparent, $b60);
}
#series-cover-hd-wrap {
	overflow: hidden;
	position: relative;
	height: 500px;
}
#series-cover-hd {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	color: #fff;
	z-index: $z-up;
}
#series-cover-title {
	@extend .playfair;
	@extend .cf;
	letter-spacing: 0.01em;
}
#series-cover-title-main {
	float: left;
}
#series-cover-meta {
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#series-cover-alt-titles {
	padding-top: 10px;
}
#series-cover-content {
	padding-top: 20px;
}

// Picker
.series-pbtn-wrap {
	@extend .cf;
	position: absolute;
	z-index: 2;
	top: 20px;
	right: 20px;
	& .pbtn-remove {
		color: #fff;
	}
	& .pbtn-add {
		color: #fff;
		border: 2px solid #fff;
		text-shadow: 0 0 3px $b10;
	}
}

// Series external info
#series-external-info-wrap {
	@extend .cf;
}
.external-info-icon {
	@extend .linkblue;
	font-weight: 700;
}

// Series ncov
#series-ncov-wrap {
	background: #fff;
}
#series-ncov-content {
	margin: 0 auto;
	width: 1000px;
}
#series-ncov-hd {
	padding: 40px 0;
}
#series-ncov-title {
	@extend .playfair;
	@extend .cf;
	margin-left: -1px;
}
#series-ncov-title-main {
	color: #000;
	font-size: 32px;
}
#series-ncov-meta {
	color: $text-3;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
#series-ncov-alt-titles {
	padding-top: 5px;
	color: $text-3;
}
#series-ncov-sep {
	display: inline-block;
	font-weight: bold;
	margin: 0 5px -3px 5px;
	width: 1px;
	height: 16px;
	background: $text-3;
}
#series-cov-sep {
	display: inline-block;
	font-weight: bold;
	margin: 0 10px -5px 10px;
	width: 1px;
	height: 20px;
	background: $w70;
}

// Series info
#series-info-wrap {
	@extend .cf;
	padding-bottom: 40px;
}
#series-info {
	@extend .border-box;
	float: left;
	width: 100%;
}
#series-info-left {
	float: left;
	margin-right: 20px;
	width: 200px;
}
#series-info-image {
	margin-bottom: 20px;
	width: 200px;
	height: 300px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
}
#series-info-nsfw-ovl {
	@extend .ts15;
	cursor: pointer;
	position: relative;
	width: 200px;
	height: 300px;
	background: rgba(231, 91, 137, 0.95);
	@include border-radius(4px);
	&.hidden {
		opacity: 0;
	}
}
#series-info-nsfw-hd {
	position: absolute;
	top: 50%;
	width: 200px;
	color: #fff;
	text-align: center;
}
#series-info-nsfw-title {
	font-weight: 700;
}
#series-info-nsfw-desc {
	font-size: 10px;
}
#series-info-center {
	float: left;
	width: calc(100% - 440px);
}
#series-info-desc {
	@extend .ptserif;
	& p {
		margin-bottom: 1em;
		line-height: 2;
		font-size: 16px;
	}
}
#series-info-nodesc {
	padding: 80px;
	color: $text-3;
	text-align: center;
}
#series-info-actions {
	@extend .cf;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $gray-l-3;
}
.info-pbtn-wrap {
	@extend .cf;
	position: relative;
	float: right;
	& .pbtn-remove {
		color: $gray-d-9;
		&:hover {
			color: $red;
		}
	}
	& .pbtn-add {
		color: $blue;
		border: 2px solid $blue;
		&.open {
			color: #fff;
			background: $blue;
		}
		&.added {
			color: $gray-d-9;
			border-color: $gray-d-9;
			&.open {
				color: #fff;
				background: $blue;
				border-color: $blue;
			}
		}
	}
	& .pbtn-picker {
		top: -272px;
		right: 0;
		@include transform-origin(190px bottom);
	}
}

.series-info-section {
	padding-bottom: 20px;
	&:last-child {
		padding-bottom: 0;
	}
}
.series-info-title {
	padding-bottom: 10px;
	font-weight: 800;
	text-transform: uppercase;
}
.series-info-value {
	line-height: 2;
}
.series-info-genre {
	@extend .linkblue;
	color: $blue;
	font-weight: 700;
	text-decoration: none;
	&:hover {
		@include box-shadow(0 1px 0 $blue);
	}
}
.series-info-dateinterval {
	@extend .linkblue;
	color: $blue;
	font-weight: 700;
	text-decoration: none;
}

// Right
#series-info-right {
	float: right;
	width: 200px;
}

// Rating graph

#series-rating-graph-wrap {
	padding-top: 5px;
}
#series-rating-graph-clear {
	@extend .cf;
}
#series-rating-graph-top {
	@extend .cf;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 60px;
}
#series-rating-graph-bottom {
	@extend .cf;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 11px;
	text-align: center;
	border-top: 1px dotted $gray;
}
#series-rating-graph-hearticon {
	float: left;
	padding-right: 10px;
	color: $red;
	font-size: 10px;
}
#series-rating-graph-average {
	float: left;
}
#series-rating-graph-average-value {
	color: $text;
	font-weight: 800;
}
#series-rating-graph-axis {
	@extend .cf;
	width: 100%;
}
.series-rating-graph-axis-label {
	float: left;
	padding-top: 5px;
	width: 10%;
	color: $text-3;
	font-size: 10px;
	text-align: center;
}
@for $i from 1 to 11 {
	.series-rating-bar:nth-child(#{$i}) {
		opacity: 0;
		position: absolute;
		left: 10% * ($i - 1);
		bottom: 0;
		width: 10%;
		min-height: 5px;
		background: $gray;
		@include box-shadow(inset -1px 0 0 #fff);
	}
}

// Similar series
#series-info-similar-wrap {
	@extend .cf;
	padding-top: 5px;
}
.series-similar-item {
	@extend .cf;
	padding-bottom: 20px;
	&:last-child {
		padding-bottom: 0;
	}
}
.series-similar-left {
	float: left;
	width: 40px;
}
.series-similar-right {
	float: left;
	padding-left: 10px;
	width: calc(100% - 70px);
}
.series-similar-image {
	display: block;
	width: 40px;
	height: 60px;
	background-size: cover;
	background-position: center center;
	@include border-radius(2px);
}
.series-similar-hd {

}
.series-similar-meta {
	color: $text-2;
	font-size: 11px;
	text-transform: capitalize;
}
.series-similar-title {
	@extend .ptserif;
	@extend .linkblack;
	font-size: 16px;
	font-weight: 700;
}
.series-similar-alt-titles {
	padding-top: 2px;
	color: $text-3;
	font-size: 11px;
}
.series-similar-type {
	font-weight: 700;
	text-transform: uppercase;
}

// Related series

#series-info-related-wrap {
	padding-top: 5px;
}
.series-related-item {
	@extend .cf;
	padding-bottom: 10px;
}
.series-related-left {
	float: left;
}
.series-related-right {
	float: left;
	padding-left: 10px;
	width: calc(100% - 70px);
}
.series-related-relation {
	color: $text-2;
	font-size: 11px;
	text-transform: capitalize;
}
.series-related-image {
	display: block;
	width: 40px;
	height: 60px;
	background-size: cover;
	background-position: center center;
	@include border-radius(2px);
}
.series-related-title {
	@extend .ptserif;
	@extend .linkblack;
	font-size: 16px;
	font-weight: 700;
}
.series-related-alt-titles {
	padding-top: 2px;
	color: $text-3;
	font-size: 11px;
}
.series-related-type {
	font-weight: 700;
	text-transform: uppercase;
}

.series-viewmore {
	cursor: pointer;
	display: none;
	padding-top: 10px;
	color: $text-3;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid $gray-l-3;
	&.visible {
		display: block;
	}
	&:hover {
		color: $text;
	}
}