// Series page with no cover image

#series-ncov-wrap {
	position: relative;
	padding-bottom: 40px;
	width: 100%;
	background: #fff;
}
#series-ncov-hd {
	margin: 0 auto;
	padding: 40px 0;
	width: 1000px;
}
#series-ncov-meta {
	color: $text-2;
	font-weight: 800;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#series-ncov-title {
	@extend .playfair;
	color: #000; // In order to bring out that strong feeeeeeel. This is where #000 truly shines.
	width: 100%;
	font-size: 32px;
}
#series-ncov-alt-titles {
	padding-top: 5px;
	color: $text-3;
}
#series-ncov {
	@extend .cf;
	margin: 0 auto;
	width: 1000px;
}
#series-ncov-left {
	@extend .cf;
	float: left;
	width: 70%;
}
#series-ncov-image-wrap {
	float: left;
	width: 200px;
}
#series-ncov-image {
	width: 200px;
	height: 300px;
	background-size: cover;
	background-position: center center;
	@include border-radius(4px);
}
#series-ncov-desc-wrap {
	@extend .cf;
	float: left;
	width: 420px;
	padding: 0 40px;
}
#series-ncov-desc {
	padding-top: 10px;
	display: inline-block;
	line-height: 2;
}
#series-ncov-right {
	float: right;
	width: 30%;
}
.series-ncov-info-section {
	@extend .cf;
	padding-bottom: 20px;
	&:last-child {
		padding-bottom: 0;
	}
}
.series-ncov-info-title {
	font-weight: 800;
	text-transform: uppercase;
}
.series-ncov-info-value {
	@extend .cf;
	padding-top: 1em;
}
.series-ncov-date-interval {
	padding: 2px 10px;
	color: $blue;
	font-size: 11px;
	border: 1px solid $blue;
	@include border-radius(30px);
	text-decoration: none;
	&:hover {
		color: #fff;
		background: $blue;
	}
}
#series-ncov-actions {
	@extend .cf;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $gray-l-3;
}
.ncov-pbtn-wrap {
	@extend .cf;
	float: right;

	position: relative;
	& .pbtn-remove {
		color: $text-3;
	}
	& .pbtn-add {
		color: $text-3;
		border: 2px solid $text-3;
	}
	& .pbtn-picker {
		top: -267px;
		right: 0;
		@include transform-origin(190px bottom);
	}
}