#settings-wrap {
	padding-top: 52px;
	background: #fff;
}
#settings-content {
	margin: 0 auto;
	padding: 40px 0;
	width: 1000px;
}
#settings-hd {
	@extend .opensans;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}
#settings-tagline {
	color: $text-3;
}
#settings {
	@extend .cf;
	width: 692px;
}
#settings-left {
	@extend .cf;
	float: left;
}
#settings-tabs {
	padding-top: 20px;
}
.setting-tab {
	@extend .opensans;
	cursor: pointer;
	padding: 10px 0;
	width: 200px;
	font-weight: 800;
	text-transform: uppercase;
	&:hover {
		color: $blue;
	}
	&.current {
		color: $blue;
	}
}
#settings-right {
	float: left;
	border-left: 1px solid $gray-l-3;
}
.set-form {
	padding-left: 40px;
}
.set-section {
	@extend .cf;
	opacity: 0;
	padding-bottom: 20px;
}
.set-left{
	float: left;
	width: 160px;
}
.set-title {
	font-weight: 700;
}
.set-desc {
	padding-top: 2px;
	color: $text-3;
	font-size: 11px;
	& a, a:visited {
		color: $blue;
		text-decoration: none;
		@include box-shadow(0 1px 0 $blue);
	}
}
.set-right {
	float: right;
	padding-left: 40px;
}
.set-textarea, .set-input {
	padding: 10px;
	width: 250px;
	border: 1px solid $gray-l-3;
	@include border-radius(4px);
	&:focus {
		border: 1px solid $blue;
	}
}
.set-textarea {
	resize: vertical;
}
.set-avatar-preview-wrap {
	padding-top: 20px;
}
.set-avatar {
	width: 250px;
	height: 250px;
	@include border-radius(4px);
}
.set-check {
	@extend .cf;
	@extend .ts15;
	padding: 0 10px;
	color: $gray-d-6;
	background: $gray-l-3;
	@include border-radius(4px);
	&.private {
		color: $yellow-d-6;
		background: $yellow-l-6;
	}
}
.set-checkbox {
	margin-top: 11px;
	float: left;
}
.set-check-label {
	@extend .ns;
	@extend .opensans;
	float: left;
	padding-left: 10px;
	width: 45px;
	font-size: 10px;
	font-weight: 700;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}