#settings-wrap {
	@extend .ts15;
	background: #fff;
}
#settings-content {
	margin: 0 auto;
	padding: 40px 0;
	width: 1000px;
}
#settings-hd {
	@extend .opensans;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}
#settings-tagline {
	color: $text-3;
}
#settings {
	@extend .cf;
}
#settings-left {
	@extend .cf;
	float: left;
}
#settings-tabs {
	padding-top: 20px;
}
.setting-tab {
	@extend .opensans;
	cursor: pointer;
	padding: 10px 0;
	width: 160px;
	font-weight: 800;
	text-transform: uppercase;
	&:hover {
		color: $blue;
	}
	&.current {
		color: $blue;
	}
}
.setting-tab-content {
	display: none;
	&.visible {
		display: block;
	}
}
#settings-right {
	float: left;
	border-left: 1px solid $gray-l-3;
}
.set-form {
	padding-left: 40px;
}
.set-section {
	@extend .cf;
	opacity: 0;
	padding-bottom: 20px;
	&:last-child {
		padding-bottom: 0;
	}
}
.set-left{
	float: left;
	width: 200px;
}
.set-title {
	font-weight: 700;
}
.set-desc {
	padding-top: 2px;
	color: $text-3;
	font-size: 11px;
	& a, a:visited {
		color: $blue;
		text-decoration: none;
		@include box-shadow(0 1px 0 $blue);
	}
}
.set-right {
	float: right;
	padding-left: 40px;
}
.set-textarea, .set-input {
	padding: 10px;
	width: 250px;
	border: 1px solid $gray-l-3;
	@include border-radius(4px);
	&:focus {
		border: 1px solid $blue;
	}
}
.set-textarea {
	resize: vertical;
}
.set-avatar-preview-wrap {
	padding-top: 20px;
}
.set-avatar {
	width: 250px;
	height: 250px;
	@include border-radius(4px);
}
.set-check {
	@extend .cf;
	@extend .ts15;
	padding: 0 10px;
	color: $gray-d-6;
	background: $gray-l-3;
	@include border-radius(4px);
	&.private {
		color: $yellow-d-6;
		background: $yellow-l-6;
	}
	&.enabled {
		color: #fff;
		background: $green-l-3;
	}
}
.set-checkbox {
	margin-top: 11px;
	float: left;
}
.set-check-label {
	@extend .ns;
	@extend .opensans;
	float: left;
	padding-left: 10px;
	width: 45px;
	font-size: 10px;
	font-weight: 700;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}
.set-save-wrap {
	@extend .cf;
	width: 490px;
	border-top: 1px solid $gray-l-3;
	padding-top: 20px;
}
.set-save {
	cursor: pointer;
	position: relative;
	float: right;
	padding: 5px 20px;
	color: #fff;
	font-weight: 700;
	background: #4b99f0;
	@include border-radius(30px);
	&:hover {
		background: $blue-l-3;
	}
}
.set-save-ovl {
	opacity: 0;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $green;
	text-align: center;
	@include border-radius(30px);
}
.set-save-icon {
	padding-top: 5px;
	font-size: 16px;
}
.set-save-loading {
	@extend .ts15;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $blue;
	@include border-radius(30px);
	&.visible {
		opacity: 1;
	}
}
#set-expecto {
	display: inline-block;
	font-weight: bold;
	text-shadow: 0 0 3px #fff;
}