#top {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: $z-up;
	@include box-shadow(0 0px 3px $b30);
}
#top-nav-wrap {
	margin: 0 auto;
	width: 1160px;
	height: 60px;
}
#top-nav-logo {
	float: left;
	margin-top: 21px;
	width: 87px;
	height: 18px;
	background: url(/img/logo_b.png) center center no-repeat;
}