#top {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 3;
	border-top: 2px solid $blue;
	@include box-shadow(0 0px 3px $b15);
}
#top-nav-wrap {
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
#top-nav-logo {
	float: left;
	margin-top: 19px;
	width: 65px;
	height: 13px;
	background: url(/img/brand/herro_small_rale.png) center center no-repeat;
	&:hover {
		opacity: 0.7;
	}
}
#top-nav-tagline {
	float: left;
	padding-left: 10px;
	color: $gray-d-6;
	font-size: 11px;
	font-weight: 400;
	line-height: 50px;
}
#top-profile-wrap {
	@extend .cf;
	float: right;
	padding: 0 20px;
	border-left: 1px solid $gray-l-3;
	border-right: 1px solid $gray-l-3;
}
#top-profile-avatar {
	float: left;
	margin-top: 13px;
	width: 24px;
	height: 24px;
	background-color: $gray-d-6;
	background-size: cover;
	@include border-radius(32px);
}
#top-profile-name {
	float: left;
	padding-left: 20px;
	font-weight: 800;
	line-height: 50px;
}