{{>header}}
<div id="middle">
	<div id="logreg-bg">
		<div id="logreg-bg-ovl">
			<div id="login-form-wrap">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/components/login.js"></script>
{{>footer}}