<!DOCTYPE html>
<html lang="eng">
<head>
	<title>{{ title }} - Herro.co</title>
	<link href="/css/app.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Nunito:400,700,300" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="top">
	<div id="top-nav-wrap">
		<div id="top-nav">
			<a id="top-nav-logo" href="#"></a>
		</div>
	</div>
	<div id="add-anime"></div>
</div>